<!DOCTYPE html>
<html>
<head>
    <title>Spotify Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            color: #1DB954;
        }

        p {
            margin-bottom: 20px;
        }

        .id-section {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .id-label {
            font-size: 18px;
            font-weight: bold;
        }

        .id-value {
            font-size: 18px;
            font-family: monospace;
            margin-left: 10px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f1f1f1;
        }

        .copy-button {
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.3s ease;
        }

        .copy-button:hover {
            opacity: 1;
        }

        .spotify-button {
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }

        .spotify-button:hover {
            opacity: 0.8;
        }

        .spotify-button:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    <h1>Spotify Login</h1>
    <p>Please insert your ID in the questionnaire.</p>

    <div class="id-section">
        <span class="id-label">Your ID:</span>
        <span class="id-value" id="userID">{{user_id}}</span>
        <button class="copy-button" onclick="copyToClipboard()">Copy</button>
    </div>

    <p class="confirm-text">Did you insert your ID in the questionnaire?</p>
    <button class="confirm-button" onclick="confirmID()">Confirm</button>

    <!-- Login button (initially disabled) -->
    <button id="loginButton" class="spotify-button" onclick="loginWithSpotify()" disabled>Log in with Spotify</button>

    <script>
        function confirmID() {
            // Check if the ID is confirmed in the questionnaire
            var idConfirmed = true; // Replace with your logic to check the ID in the questionnaire

            if (idConfirmed) {
                // Enable the login button
                document.getElementById('loginButton').disabled = false;
            }
        }

        function copyToClipboard() {
            // Copy the ID to the clipboard
            var userIDElement = document.getElementById('userID');
            var userID = userIDElement.textContent.trim();
            navigator.clipboard.writeText(userID)
                .then(function() {
                    console.log('ID copied to clipboard.');
                })
                .catch(function(error) {
                    console.error('Failed to copy ID to clipboard:', error);
                });
        }

        function loginWithSpotify() {
            // Redirect the user to the /login route
            window.location.href = "/login";
        }
    </script>
</body>
</html>
