<!DOCTYPE html>
<html>
<head>
    <title>Spotify Data</title>
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }

        .column {
            flex-basis: 40%;
            padding: 10px;
            background-color: #fff;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        li:hover {
            background-color: #f1f1f1;
        }

        .album-image {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        p {
            margin: 0;
            font-size: 14px;
        }

        #spotify-player-container {
            position: fixed;
            bottom: 100px;
            left: 20px;
            width: calc(100% - 40px);
            background-color: #f1f1f1;
            padding: 10px;
            display: none;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #spotify-player {
            width: 100%;
            height: 80px;
            border: none;
            overflow: hidden;
        }

        .logout-button {
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            opacity: 0.8;
            transition: opacity 0.3s ease;
            float: right;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }

        .logout-button:hover {
            opacity: 1;
        }

        .rank-number {
            margin-right: 10px;
            font-weight: bold;
        }

        .selected-indicator {
            margin-left: auto;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid #1DB954;
            visibility: hidden;
        }

        .selected {
            visibility: visible;
        }

        .selected-counter {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .select-button {
            margin-left: auto;
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 6px 12px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 4px;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }

        .select-button:hover {
            opacity: 1;
        }

    </style>
    <script>
        var recommended_track_uris = [];
        var recommended_track_names = [];
        var recommended_track_artists = [];
        var recommended_track_images = [];
        
        var selectedSongs = [];
        var counter = 0;

        function addTrack(uri, name, artist, image){
            recommended_track_uris.push(uri);
            recommended_track_names.push(name);
            recommended_track_artists.push(artist);
            recommended_track_images.push(image)
        }

        // Loop through the recommended tracks and call addTrack function for each track
        {% for track in recommended_tracks %}
            addTrack('{{ track.uri }}', '{{ track.name }}', '{{ track.artist }}', '{{ track.image }}');
        {% endfor %}

        function playTrack(uri) {
            var player = document.getElementById('spotify-player');
            player.src = 'https://open.spotify.com/embed/track/' + uri.split(':')[2];
            document.getElementById('spotify-player-container').style.display = 'block';
        }

        function selectSong(uri, element, event) {
            event.stopPropagation(); // Prevent event propagation

            var index = selectedSongs.indexOf(uri);
            if (index > -1) {
                selectedSongs.splice(index, 1);
                element.classList.remove('selected');
                counter--;
            } else {
                selectedSongs.push(uri);
                element.classList.add('selected');
                counter++;
            }
            updateCounter();
            updateSelectedSongs(uri); // Call the function to update the selected songs column
        }


        function updateCounter() {
            var counterElement = document.getElementById('selected-counter');
            counterElement.textContent = 'Selected Songs: ' + counter;
        }

        function logoutFromSpotify() {
            // Redirect the user to the /logout route
            window.location.href = "/logout";
        }

        function updateSelectedSongs(uri) {
            var selectedSongsContainer = document.querySelector('.column:last-child');
            selectedSongsContainer.innerHTML = '<h2>Your Selected Songs</h2>';

            for (var i = 0; i < selectedSongs.length; i++) {
            var songUri = selectedSongs[i];
            var songIndex = recommended_track_uris.indexOf(songUri);

            if (songIndex > -1) {
                var songName = recommended_track_names[songIndex];
                var songArtist = recommended_track_artists[songIndex];
                var songImage = recommended_track_images[songIndex];

                var songElement = document.createElement('li');
                songElement.innerHTML = `
                <span class="rank-number">${i + 1}</span>
                <img class="album-image" src="${songImage}" alt="Album Art">
                <div>
                    <p><strong>${songName}</strong></p>
                    <p>${songArtist}</p>
                </div>
                <div class="selected-indicator selected"></div>
                <button class="select-button" onclick="selectSong('${songUri}', this, event)">Select</button>
                `;

                selectedSongsContainer.appendChild(songElement);
            }
            }

            updateCounter();
        }




    </script>
    
</head>
<body>
    <div class="container">
        <div class="column">
            <h2>Your Personalized Recommendations</h2>
            <div class="selected-counter" id="selected-counter">Selected Songs: 0</div>
            <ul>
                {% for track in recommended_tracks %}
                    <li onclick="playTrack('{{ track.uri }}')">
                        
                        <span class="rank-number">{{ loop.index }}</span>
                        <img class="album-image" src="{{ track.image }}" alt="Album Art">
                        <div>
                            <p><strong>{{ track.name }}</strong></p>
                            <p>{{ track.artist }}</p>
                            <p>{{ track.album }}</p>
                        </div>
                        <div class="selected-indicator"></div>
                        <button class="select-button" onclick="selectSong('{{ track.uri }}', this, event)">Select</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <h2>Your Selected Songs</h2>
            <!-- Content for displaying selected songs will be added dynamically -->
        </div>
    </div>
    <div id="spotify-player-container">
        <iframe id="spotify-player" src="" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

    <button class="logout-button" onclick="logoutFromSpotify()">Log Out</button>

    <script>
        var songElements = document.querySelectorAll('li');
        songElements.forEach(function(element) {
            element.addEventListener('click', function(event) {
                var uri = element.getAttribute('data-uri');
                selectSong(uri, element, event);
            });
        });
    </script>
</body>
</html>
