<!DOCTYPE html>
<html>

<head>
    <title>Session Ended</title>
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 40px;
        }

        h1 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
        button {
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }

        button:hover {
            opacity: 0.8;
        }

        #saveButton, #dontSaveButton {
            display: none;
        }
    </style>
</head>

<body>
    <h1>Final questionnaire</h1>
    Please fill in this final questionnaire by clicking on the button below. After this, you can save the playlists to you Spotify profile if you'd like.
    <button id="openQuestionnaireButton" onclick="openQuestionnaire()">Open questionnaire</button>

    <p id="hiddenText">Thank you for using the tool and participating in our study. Please verify that you filled in the final questionnaire after observing the last playlist.
        <br>
        If you'd like, you can save the recommended songs to a new playlist in your Spotify profile. To do so, please
        click the button below.
    </p>

    <button id="saveButton" onclick="savePlaylist()" disabled>Save Playlist</button>
    <button id="dontSaveButton" onclick="logout()" disabled>Don't Save Playlist</button>

    <script>
        function openQuestionnaire() {
            // Redirect the user to the questionnaire link in a new tab
            window.open("{{ questionnaire_url }}", "_blank");

            // Enable the other buttons after the questionnaire is opened
            document.getElementById("saveButton").removeAttribute("disabled");
            document.getElementById("dontSaveButton").removeAttribute("disabled");

            // Hide the "Open questionnaire" button and show the text
            document.getElementById("openQuestionnaireButton").style.display = "none";
            document.getElementById("hiddenText").style.display = "block";
        }

        function savePlaylist() {
            // Redirect the user to the /save_playlist route
            window.location.href = "/save_playlist";
        }

        function logout() {
            // Redirect the user to the /logout route
            window.location.href = "/logout";
        }
    </script>
</body>

</html>
