<!DOCTYPE html>
<html>

<head>
    <title>Recommender System Study - Instructions</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f5f5f5;
        }

        h1 {
            color: #1DB954;
            margin-top: 40px;
            font-size: 28px;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
        }

        button {
            background-color: #1DB954;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: opacity 0.3s ease;
            border-radius: 8px;
        }

        button[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }

        button:hover {
            opacity: 0.8;
        }
    </style>
</head>

<body>
    <h1>Instructions</h1>


    {% if index == 0 %}
    <p>
        {% if insufficientItems == 'True' %}

        <div id="introduction">
            <b>Unfortunately, your data was not suitable for the algorithms that we used.</b>
            <br>
            Nevertheless, we are very interested in the results of the algorithm. We won't use them for our main evaluation, but they can be useful for better understanding of the algorithm that we used.
            If you would still like to participate, you can continue below. If not, you can close this window. 
            <br> <br>
            At this point, you should have filled in the first questionnaire. If not, please check the tab that has opened after you logged into your Spotify account.
            Do not close this window. When you're done with the questionnaire, click confirm.
            <br>
            <br>
            <button id="confirmationBtn" onclick="confirmAndContinue()">Confirm</button>
        </div>
        {% else %}
        <div id="introduction">
            At this point, you should have filled in the first questionnaire. If not, please check the tab that has opened after you logged into your Spotify account.
            Do not close this tab. When you're done with the questionnaire, click confirm.
            <br>
            <br>
            <button id="confirmationBtn" onclick="confirmAndContinue()">Confirm</button>
        </div>
        {% endif %}
        <script>
            function confirmAndContinue() {

    
                const introductionDiv = document.getElementById("introduction");
                introductionDiv.parentNode.removeChild(introductionDiv);
    
                const additionalText = document.createElement("p");
                additionalText.innerHTML = `<p>If you filled in the initial questionnaire you can continue with the next part.<br><br>
                                                In the following, you will be provided with a playlist consisting of 25 personalized recommendations. 
                                                Those recommendations were created and ranked based on your listening history and your interests.
                                                <br>
                                                <b>Your task:</b> Please explore the playlists. Investigate the items and listen to previews of the recommended songs by clicking on the titles.
                                                Discover 5 songs that you enjoy and that you would like to add to your personal playlist.
                                                After selecting those 5 items, please click on "continue".
                                              </p>`;
                document.body.appendChild(additionalText);
    
                const continueBtn = document.createElement("button");
                continueBtn.innerHTML = "Continue";
                continueBtn.onclick = function () {
                    window.location.href = "/personalized_recommendations/" + {{ index }};
            };
            document.body.appendChild(continueBtn);
                }
        </script>
        </p>
        {% elif index in [1, 2, 3] %}
        <div id="introduction">
            <b>Please fill in the questionnaire for "Study Part {{ index }}". Open it by clicking on the button below</b>
            Do not close this tab. When you're done with the questionnaire, click confirm.
            <br>
            <br>
            <button id="questionnaireBtn" onclick="openQuestionnaire()">Open Questionnaire</button>
            <button id="confirmationBtn" onclick="confirmAndContinue()" disabled>Confirm</button>
        </div>
    
        <script>
            function openQuestionnaire() {
                window.open("{{ questionnaire_url }}", "_blank");
                document.getElementById("confirmationBtn").disabled = false;
            }
    
            function confirmAndContinue() {
                // Your existing code here
            }
        </script>
        {% endif %}

</body>

</html>