<!DOCTYPE html>
<html>
<head>
    <title>Loading...</title>
    <style>
        body {
            background-color: #f5f5f5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #1DB954; /* Green */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
        h1 {
            color: #1DB954;
            font-size: 28px;
            font-weight: bold;
            margin-top: 20px;
        }
        
        .text-field {
            margin-top: 20px;
        }
        

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        
        $(document).ready(function() {
            // Send an AJAX request to the process_data endpoint
            $.get("{{ url_for('compute_recommendations') }}", function(data) {
                // Redirect to the personalized recommendations page when the computation is complete
                window.location.href = "{{ url_for('instruction_screen', index=0) }}";
            });
        });
    </script>
</head>
<body>
    <div class="loader"></div>
    <h1>Loading...</h1>
    
    <div class="text-field">
        <p> We create your personalized recommendations. This will take a few minutes. Fill in the questionnaire that has opened and return to this tab when you are done.
            This process should take about 5 minutes.
        </p>
    </div>

    <!-- Add the "Open questionnaire" button below the text -->
    <button onclick="openQuestionnaire()">Open questionnaire</button>

    <script>
        function openQuestionnaire() {
            
            window.open("{{ questionnaire_url }}", "_blank");
        }
    </script>
</body>
</html>
